<mat-form-field appearance="fill">
  <!-- TODO: fix visual misalignment between matSuffix and input -->
  <input
    matInput
    [formControl]="searchFormControl"
    placeholder="Search by some character name">
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let person">{{person.name}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let person">{{person.gender}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="birthYear">
    <mat-header-cell *matHeaderCellDef>Birth Year</mat-header-cell>
    <mat-cell mat-cell *matCellDef="let person">{{person.birthYear}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator
  [length]="dataSource.count"
  [hidePageSize]="true"
  [pageSize]="10"
></mat-paginator>
