<mat-card class="person-detail-card" *ngIf="person">
  <mat-card-header class="person-detail-card-header">
    <div
      *ngIf="person.avatarUrl"
      mat-card-avatar
      [style.backgroundImage]="'url('+ person.avatarUrl + ')'"
      class="person-deital-card-avatar"
      ></div>
    <div
      *ngIf="!person.avatarUrl"
      mat-card-avatar
      class="person-deital-card-avatar"
      >
      <mat-icon>person</mat-icon>
    </div>
    <mat-card-title>{{ person?.name }}</mat-card-title>
    <mat-card-subtitle>{{ person?.gender }}</mat-card-subtitle>
    <span class="mat-h4 person-birth-year">{{ person?.birthYear }}</span>
  </mat-card-header>
  <div
    class="person-detail-card-image"
    mat-card-image
    [style.backgroundImage]="person.imageUrl ? 'url('+ person.imageUrl + ')' : null"
    >
    <!-- TODO: provide placeholder image -->
  </div>
  <mat-card-content>
    <h3 class="person-detail-films-title mat-h3">Films</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let film of person?.films; last as last">
        <mat-icon matListIcon>movie</mat-icon>
        <span>{{ film }}</span>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
     </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="person.planet"
      mat-stroked-button
      (click)="goToPlanet(person.planet.id)"
      ><mat-icon>nature</mat-icon>Other characters from {{ person.planet.name }}</button>
  </mat-card-actions>
</mat-card>
