.person-detail-card {
  max-width: 30em
}

.person-deital-card-avatar {
  background-size: cover;
}

.person-detail-card-image {
  background-size: cover;
  background-position: top center;
  height: 25em;
}

.person-birth-year {
  position: absolute;
  right: 0;
  margin-right: 1em;
  opacity: .6;
}

.person-detail-films-title {
  margin-left: 1em;
  margin-bottom: 0;
}
