.person-detail-card {
  max-width: 30em
}

.person-deital-card-avatar {
  background-color: #f8f8f8;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.person-detail-card-image {
  background-color: #f8f8f8;
  background-size: cover;
  background-position: top;
  height: 25em;
}

.person-birth-year {
  position: absolute;
  right: 0;
  margin-right: 1em;
  opacity: .6;
}

.person-detail-films-title {
  margin-left: 1em;
  margin-bottom: 0;
}
